# Data Cleaning twitter
Van egy json f√°jlunk, ami 128837 twitterr≈ël leszedett bejegyz√©st tartalmaz. Minden itt t√°rolt bejegyz√©snek megtal√°lhat√≥ a sz√∂vege, hogy h√°nyan likeolt√°k √©s egy keyword ami a tweethez tartozik.

Sajnos mint a legt√∂bb social media fel√ºleten, itt is sok bot tal√°lhat√≥, √©s az ≈ë tweetjeik is beker√ºlhettek az adatok k√∂z√©. Az egyik jellemz≈ëje a bot bejegyz√©seknek, hogy √©ppen trending hashtageket haszn√°lnak, ha van k√∂ze a bejegyz√©s√ºkh√∂z, ha nincs.

Ahhoz hogy a bot bejegyz√©sek egy r√©sz√©t kisz≈±rd, csak azokat a tweeteket tartsd meg, amelyek a keywordot tartalmazz√°k, de kiz√°r√≥lag NEM hashtag form√°tumban (#keyword). Teh√°t ha a kulcssz√≥ bitcoin, akkor a "vegy√©l bitcoint" j√≥, az "olcs√≥ #bitcoin" √©s a "bitcoin akci√≥! #bitcoin" nem j√≥.  Az eredeti adat h√°ny sz√°zal√©ka maradt meg?

In [1]:
import pandas as pd
import numpy as np

In [2]:
!gdown 1YideIWK62ZOug7JSSjYzflEBUrHu1mPn

Downloading...
From: https://drive.google.com/uc?id=1YideIWK62ZOug7JSSjYzflEBUrHu1mPn
To: /content/tweets.json
100% 22.4M/22.4M [00:00<00:00, 169MB/s]

In [12]:
import pandas as pd


json_file_path = 'tweets.json'


df = pd.read_json(json_file_path)


print(df)

num_rows = df.shape[0]
print("Number of rows:", num_rows)

          keyword  likes                                              tweet
0        COVID-19      1  The headline kinda makes it sound like the AP ...
1        COVID-19      0  ATLANTIC CITY ‚Äî The city's Police Athletic Lea...
2        COVID-19      0  I feel like Diana's line she draws is if his s...
3        COVID-19      1  COVID-19 was the single most fatal communicabl...
4        COVID-19      0  Studies: Dogs can detect COVID-19 with greater...
...           ...    ...                                                ...
128832  World Cup      1       He is in Argentina to play the U20 World Cup
128833  World Cup      0  Messi this season in every competition 60g/a w...
128834  World Cup     29  üö®#2026WCQ 54 African countries will be divided...
128835  World Cup      0  England‚Äôs adopted World Cup mascot ‚ÄòDave the C...
128836  World Cup      0  End kartay hain us ne apnay Country ko Fifa Wo...

[128837 rows x 3 columns]
Number of rows: 128837

In [13]:
filtered_df = df[df.apply(lambda row: '#' + row['keyword'] not in row['tweet'] and row['keyword'] in row['tweet'], axis=1)]

print(filtered_df)

num_rows = filtered_df.shape[0]
print("Number of rows:", num_rows)

          keyword  likes                                              tweet
0        COVID-19      1  The headline kinda makes it sound like the AP ...
1        COVID-19      0  ATLANTIC CITY ‚Äî The city's Police Athletic Lea...
3        COVID-19      1  COVID-19 was the single most fatal communicabl...
4        COVID-19      0  Studies: Dogs can detect COVID-19 with greater...
5        COVID-19      1  Now you're putting a lot of different things o...
...           ...    ...                                                ...
128832  World Cup      1       He is in Argentina to play the U20 World Cup
128833  World Cup      0  Messi this season in every competition 60g/a w...
128834  World Cup     29  üö®#2026WCQ 54 African countries will be divided...
128835  World Cup      0  England‚Äôs adopted World Cup mascot ‚ÄòDave the C...
128836  World Cup      0  End kartay hain us ne apnay Country ko Fifa Wo...

[55639 rows x 3 columns]
Number of rows: 55639