In [1]:
import pandas as pd
df = pd.read_csv("round_3_train.csv")
print(df.head())

   feature1  feature2  feature3  feature4  feature5  target
0 -0.038345  0.557400 -1.221876  0.171572  1.184039       1
1 -0.284036 -0.543454 -0.754473  0.904719  0.518449       0
2 -1.390731  0.879315 -3.590575  1.129796  3.531827       1
3 -1.339208  0.589183  2.241589 -1.866975 -1.368388       0
4 -1.283625  0.194435  0.264508 -0.395567  0.126329       0

In [2]:
df

     feature1  feature2  feature3  feature4  feature5  target
0   -0.038345  0.557400 -1.221876  0.171572  1.184039       1
1   -0.284036 -0.543454 -0.754473  0.904719  0.518449       0
2   -1.390731  0.879315 -3.590575  1.129796  3.531827       1
3   -1.339208  0.589183  2.241589 -1.866975 -1.368388       0
4   -1.283625  0.194435  0.264508 -0.395567  0.126329       0
..        ...       ...       ...       ...       ...     ...
135 -1.553258  0.901322  4.408265 -3.377452 -3.009166       0
136 -1.317428  0.609370 -0.479742 -0.360694  0.872828       0
137 -0.166971  0.208831 -0.501152  0.080310  0.513162       0
138  1.418012 -0.117807 -1.730391  1.153365  1.073752       1
139 -1.337631  0.513036  2.579715 -1.986464 -1.670244       0

[140 rows x 6 columns]

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Prepare features (X) and target (y)
X = df.drop(columns=["target"])
y = df["target"]

rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X, y)

feature_importances_train_only = sorted(
    zip(X.columns, rf_classifier.feature_importances_), 
    key=lambda x: x[1], 
    reverse=True
)

feature_importances_train_only

[('feature1', 0.3839621103767251),
 ('feature3', 0.24727435238276085),
 ('feature5', 0.14069381727716315),
 ('feature4', 0.14042300618611625),
 ('feature2', 0.08764671377723457)]